matchInfo
    input(class="summoner_query" type="hidden" value=summoner_query)
    .content_wrap.col-12.col-center
        -var game_times = 3;
        -for(i=0;i<game_times;i++)
            input(class="game_times" type="hidden" value=game_times)
            .gameRecord_box.col-12
                .gameRecord_wrap.col-12
                    .gameRecord_con.col-12
                        .gameRecord_inner.col-12
                            .gameRecord_info
                                .gameRecord_info_gameTime(tooltip="" + result[i].game_date flow="up") #{result[i].game_date_diff}
                                .gameRecord_info_win_fail_check(tooltip2="승리 / 패배"  flow="up") #{result[i].win_fail}
                                script.
                                    var win_fail_number = #{i};
                                    $(`.gameRecord_info_win_fail_check`).attr("class","win_fail_check"+ #{i});
                                    $(`.gameRecord_con`).attr("class","gameRecord_con"+ #{i} + " col-12 ");
                                    $(`.gameRecord_wrap`).attr("class","gameRecord_wrap"+ #{i} +" col-12 " + "" + " col-center");
                                    $(`.gameRecord_box`).attr("class","gameRecord_box"+ #{i} +" col-12 " + "" + " col-center"+ " gameRecord_wrap_css");
                                .gameRecord_info_time(tooltip2="플레이 시간"  flow="up") #{result[i].game_duration} #{result[i].game_id}
                                .gameRecord_info_gameId_hidden
                                    input(class="gameId" type="hidden" value=result[i].game_id)  
                            .gameRecord_champ
                                .gameRecord_champ_top(tooltip2=""+result[i].champion_name  flow="up")
                                    .gameRecord_champ_img
                                        img(src=result[i].champion_img)
                                    .gameRecord_champ_name #{result[i].champion_name}
                                .gameRecord_champ_bottom
                                    .gameRecord_spells
                                        .gameRecord_spell01(tooltip="" + result[i].spell1_name +"\n\n"+ result[i].spell1_description flow="up")
                                            img(src=result[i].spell1_img)
                                        .gameRecord_spell02(tooltip="" + result[i].spell2_name +"\n\n"+ result[i].spell2_description flow="up")
                                            img(src=result[i].spell2_img)
                                    .gameRecord_perks
                                        .gameRecord_perks_1
                                            img(src=result[i].perk0)
                                        .gameRecord_perks_2
                                            img(src=result[i].perkSubStyle)
                            .gameRecord_KDA
                                .gameRecord_kda(tooltip2="킬/ 데스/ 어시" flow="up") #{result[i].kills}/ #{result[i].deaths}/ #{result[i].assists}
                                .gameRecord_average(tooltip2="(킬+어시) ÷ 어시" flow="up") #{result[i].kda}:1 평점
                                .gameRecord_totalDamageDealtToChampions(tooltip="게임 중 적 챔피언에게 가한 물리, 마법을 합친 데미지" flow="up")
                                    .gameRecord_totalDamage_top 챔피언에게 가한 데미지 
                                    .gameRecord_totalDamage_bottom #{result[i].totalDamageDealtToChampions}
                            .gameRecord_levelCS
                                .gameRecord_level(tooltip2="챔피언 레벨" flow="up") 레벨 #{result[i].champLevel}
                                .gameRecord_CS(tooltip2="총 미니언 수" flow="up") #{result[i].totalMinionsKilled} CS
                                .gameRecord_goldEarned
                                    .gameRecord_goldEarned_top(tooltip2="게임 중 총 획득한 골드" flow="up") 획득 골드 
                                    .gameRecord_goldEarned_under #{result[i].goldEarned} gold
                            .gameRecord_items 
                                .gameRecord_items_top
                                    -for(k=0;k<4;k++)
                                        div(class= "item"+k ,tooltip="" + result[i].items[k].name + "\n\n" + result[i].items[k].description + "", flow="up")
                                            img(src=result[i].items[k].item_img)
                                .gameRecord_items_bottom
                                    -for(k=4;k<7;k++)
                                        div(class= "item"+k ,tooltip="" + result[i].items[k].name + "\n\n" + result[i].items[k].description + "", flow="up")
                                            img(src=result[i].items[k].item_img)
                            .gameRecord_summoner_names            
                                .gameRecord_team01
                                    -for(k=0;k<5;k++)
                                        .gameRecord_row
                                            div(class='other_champion_img'+k ,tooltip2="" + result[i].all_summoners[k].champion_name, flow="up")
                                                img( src=result[i].all_summoners[k].champion_img)
                                            div(class='gameRecord_row_name'+k) 
                                                div 
                                                    a(href="/summonerInfo?summonerName="+ result[i].all_summoners[k].summonerName) #{result[i].all_summoners[k].summonerName}
                                .gameRecord_team02
                                     -for(k=5;k<10;k++)
                                        .gameRecord_row
                                            div(class='other_champion_img'+k ,tooltip2="" + result[i].all_summoners[k].champion_name, flow="up")
                                                img( src=result[i].all_summoners[k].champion_img)
                                            div(class='gameRecord_row_name'+k) 
                                                div 
                                                    a(href="/summonerInfo?summonerName="+ result[i].all_summoners[k].summonerName) #{result[i].all_summoners[k].summonerName}
                            .gameRecord_other_summoner_call_btn_con
                                .gameRecord_other_summoner_call_btn_form
                                    form.other_summoner_btn(method="post")
                                        button(type="submit" value=result[i].game_id) 버튼1
            script.
                $('.other_summoner_btn').attr("class","other_summoner_btn"+#{i})
                                    
    .content_wrap.col-12.col-center
        -for(i=0;i<game_times;i++)
            .gameRecord_add_con.col-12.col-center
                script.
                    $('.gameRecord_add_con').attr("class","gameRecord_add_con" + #{i} + " col-12" + " col-center");
                    