matchInfo
    input(class="summoner_query" type="hidden" value=summoner_query)
    .content_wrap.col-12.col-center
        -var game_times = 3;
        -for(i=0;i<game_times;i++)
            input(class="game_times" type="hidden" value=game_times)
            .gameRecord_box.col-12
                .gameRecord_wrap.col-12
                    .gameRecord_con.col-12
                        .gameRecord_inner.col-12
                            .gameRecord_info
                                .gameRecord_info_gameTime(tooltip="" + result[i].game_date flow="up") #{result[i].game_date_diff}
                                .gameRecord_info_win_fail_check(tooltip2="승리 / 패배"  flow="up") #{result[i].win_fail}
                                script.
                                    var win_fail_number = #{i};
                                    $(`.gameRecord_info_win_fail_check`).attr("class","win_fail_check"+ #{i});
                                    $(`.gameRecord_con`).attr("class","gameRecord_con"+ #{i} + " col-12 ");
                                    $(`.gameRecord_wrap`).attr("class","gameRecord_wrap"+ #{i} +" col-12 " + "" + " col-center");
                                    $(`.gameRecord_box`).attr("class","gameRecord_box"+ #{i} +" col-12 " + "" + " col-center"+ " gameRecord_wrap_css");
                                .gameRecord_info_time(tooltip2="플레이 시간"  flow="up") #{result[i].game_duration} #{result[i].game_id}
                                .gameRecord_info_gameId_hidden
                                    input(class="gameId" type="hidden" value=result[i].game_id)  
                            .gameRecord_champ
                                .gameRecord_champ_top(tooltip2=""+result[i].champion_name  flow="up")
                                    .gameRecord_champ_img
                                        img(src=result[i].champion_img)
                                    .gameRecord_champ_name #{result[i].champion_name}
                                .gameRecord_champ_bottom
                                    .gameRecord_spells
                                        .gameRecord_spell01(tooltip="" + result[i].spell1_name +"\n\n"+ result[i].spell1_description flow="up")
                                            img(src=result[i].spell1_img)
                                        .gameRecord_spell02(tooltip="" + result[i].spell2_name +"\n\n"+ result[i].spell2_description flow="up")
                                            img(src=result[i].spell2_img)
                                    .gameRecord_perks
                                        .gameRecord_perks_1
                                            img(src=result[i].perk0)
                                        .gameRecord_perks_2
                                            img(src=result[i].perkSubStyle)
                            .gameRecord_KDA
                                .gameRecord_kda(tooltip2="킬/ 데스/ 어시" flow="up") #{result[i].kills}/ #{result[i].deaths}/ #{result[i].assists}
                                .gameRecord_average(tooltip2="(킬+어시) ÷ 어시" flow="up") #{result[i].kda}:1 평점
                                .gameRecord_totalDamageDealtToChampions(tooltip="게임 중 적 챔피언에게 가한 물리, 마법을 합친 데미지" flow="up")
                                    .gameRecord_totalDamage_top 챔피언에게 가한 데미지 
                                    .gameRecord_totalDamage_bottom #{result[i].totalDamageDealtToChampions}
                            .gameRecord_levelCS
                                .gameRecord_level(tooltip2="챔피언 레벨" flow="up") 레벨 #{result[i].champLevel}
                                .gameRecord_CS(tooltip2="총 미니언 수" flow="up") #{result[i].totalMinionsKilled} CS
                                .gameRecord_goldEarned
                                    .gameRecord_goldEarned_top(tooltip2="게임 중 총 획득한 골드" flow="up") 획득 골드 
                                    .gameRecord_goldEarned_under #{result[i].goldEarned} gold
                            .gameRecord_items 
                                .gameRecord_items_top
                                    div.item0(tooltip="" + result[i].items[0].name + "\n\n" + result[i].items[0].description + "" flow="up")
                                        img(src=result[i].items[0].item_img)
                                    div.item1(tooltip="" + result[i].items[1].name + "\n\n" + result[i].items[1].description + "" flow="up") 
                                        img(src=result[i].items[1].item_img)
                                    div.item2(tooltip="" + result[i].items[2].name + "\n\n" + result[i].items[2].description + "" flow="up") 
                                        img(src=result[i].items[2].item_img)
                                    div.item3(tooltip="" + result[i].items[3].name + "\n\n" + result[i].items[3].description + ""  flow="up") 
                                        img(src=result[i].items[3].item_img)
                                .gameRecord_items_bottom
                                    div.item4(tooltip="" + result[i].items[4].name + "\n\n" + result[i].items[4].description + ""  flow="up") 
                                        img(src=result[i].items[4].item_img)
                                    div.item5(tooltip="" + result[i].items[5].name + "\n\n" + result[i].items[5].description + ""  flow="up")
                                        img(src=result[i].items[5].item_img)
                                    div.item6(tooltip="" + result[i].items[6].name + "\n\n" + result[i].items[6].description + ""  flow="up")
                                        img(src=result[i].items[6].item_img)
                            .gameRecord_summoner_names            
                                .gameRecord_team01 
                                    .gameRecord_row
                                        .other_champion_img0(tooltip2="" + result[i].all_summoners[0].champion_name flow="up")
                                            img( src=result[i].all_summoners[0].champion_img)
                                        .gameRecord_row_name0 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[0].summonerName) #{result[i].all_summoners[0].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img1(tooltip2="" + result[i].all_summoners[1].champion_name flow="up")
                                            img( src=result[i].all_summoners[1].champion_img)
                                        .gameRecord_row_name1
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[1].summonerName) #{result[i].all_summoners[1].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img2(tooltip2="" + result[i].all_summoners[2].champion_name flow="up")
                                            img( src=result[i].all_summoners[2].champion_img)
                                        .gameRecord_row_name2 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[2].summonerName) #{result[i].all_summoners[2].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img3(tooltip2="" + result[i].all_summoners[3].champion_name flow="up")
                                            img( src=result[i].all_summoners[3].champion_img)
                                        .gameRecord_row_name3
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[3].summonerName) #{result[i].all_summoners[3].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img4(tooltip2="" + result[i].all_summoners[4].champion_name flow="up")
                                            img( src=result[i].all_summoners[4].champion_img)
                                        .gameRecord_row_name4 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[4].summonerName) #{result[i].all_summoners[4].summonerName}
                                .gameRecord_team02
                                    .gameRecord_row 
                                        .other_champion_img5(tooltip2="" + result[i].all_summoners[5].champion_name flow="up")
                                            img( src=result[i].all_summoners[5].champion_img)
                                        .gameRecord_row_name5 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[5].summonerName) #{result[i].all_summoners[5].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img6(tooltip2="" + result[i].all_summoners[6].champion_name flow="up")
                                            img( src=result[i].all_summoners[6].champion_img)
                                        .gameRecord_row_name6 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[6].summonerName) #{result[i].all_summoners[6].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img7(tooltip2="" + result[i].all_summoners[7].champion_name flow="up")
                                            img( src=result[i].all_summoners[7].champion_img)
                                        .gameRecord_row_name7 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[7].summonerName) #{result[i].all_summoners[7].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img8(tooltip2="" + result[i].all_summoners[8].champion_name flow="up")
                                            img( src=result[i].all_summoners[8].champion_img)
                                        .gameRecord_row_name8 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[8].summonerName) #{result[i].all_summoners[8].summonerName}
                                    .gameRecord_row 
                                        .other_champion_img9(tooltip2="" + result[i].all_summoners[9].champion_name flow="up")
                                            img( src=result[i].all_summoners[9].champion_img)
                                        .gameRecord_row_name9 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i].all_summoners[9].summonerName) #{result[i].all_summoners[9].summonerName}
                            .gameRecord_other_summoner_call_btn_con
                                .gameRecord_other_summoner_call_btn_form
                                    form.other_summoner_btn(method="post")
                                        button(type="submit" value=result[i].game_id) 버튼1
            script.
                $('.other_summoner_btn').attr("class","other_summoner_btn"+#{i})
                                    
    .content_wrap.col-12.col-center
        -for(i=0;i<game_times;i++)
            .gameRecord_add_con.col-12.col-center
                script.
                    $('.gameRecord_add_con').attr("class","gameRecord_add_con" + #{i} + " col-12" + " col-center");
                    