matchInfo
    -for(var i=0;i<5;i++)
        .content_wrap.col-12
            .gameRecord_wrap.col-12.mw-1200.col-center
                .gameRecord_con.col-12
                    .gameRecord_inner.col-12
                        .gameRecord_info
                            .gameRecord_info_winlose #{result[i+5].gameWinFail}
                            .gameRecord_info_time #{result[i+5].gameTime}분
                        .gameRecord_champ
                            .gameRecord_champ_img &#xC9C8;&#xB9AC;&#xC5B8;
                            .gameRecord_spells
                                .gameRecord_spell01 &#xC810;&#xBA78;
                                .gameRecord_spell02 &#xD0C8;&#xC9C4;
                        .gameRecord_KDA
                            .gameRecord_kda #{result[i+5].kills}/ #{result[i+5].deaths}/ #{result[i+5].assists}
                            .gameRecord_average 2.51:1 &#xD3C9;&#xC810;
                        .gameRecord_levelCS
                            .gameRecord_level 14&#xB808;&#xBCA8;
                            .gameRecord_CS 22CS
                        .gameRecord_items
                            .gameRecord_items_top
                                div 1
                                div 2
                                div 3
                                div 4
                            .gameRecord_items_bottom
                                div 5
                                div 6
                                div 7
                        .gameRecord_team01 
                            .gameRecord_row #{result[i][0]}
                            .gameRecord_row #{result[i][1]}
                            .gameRecord_row #{result[i][2]}
                            .gameRecord_row #{result[i][3]}
                            .gameRecord_row #{result[i][4]}
                        .gameRecord_team02
                            .gameRecord_row #{result[i][5]}
                            .gameRecord_row #{result[i][6]}
                            .gameRecord_row #{result[i][7]}
                            .gameRecord_row #{result[i][8]}
                            .gameRecord_row #{result[i][9]}