extends layout

block content
  div #{summonername}님 환영합니다.
  div 큐 타입 : #{queueType}
  div 티어 : #{tier}
  div 리그 포인트 : #{leaguePoints} 
  div 승리 : #{wins}
  div 패배 : #{losses}

  include matchInfo
  
