extends summonerHistory

block content
    .summonnerInfo_wrap.col-12.mw-1200.col-center
        .summonerInfo_con.col-12
            .summonerInfo_con_right
                .summonerInfo_inner_icon
                .summonerInfo_inner_nick #{summoner.data[0].summonerName}님 환영합니다.
            .summonerInfo_con_center 
                .summonerInfo_inner
                    .summonerInfo_inner_left
                        .summonerInfo_inner_img
                            img(src='/images/ranked-emblems/'+ summoner.data[0].tier +'.png')
                    .summonerInfo_inner_right
                        .summonerInfo_box.col-12
                            .summoner_basic_queType #{summoner.data[0].queueType}
                            .summonerInfo_tier #{summoner.data[0].tier} #{summoner.data[0].rank}
                            .summonerInfo_leaguePoint 리그 포인트 : #{summoner.data[0].leaguePoints} LP
                            .summonerInfo_wins #{summoner.data[0].wins}승 #{summoner.data[0].losses}패
                            .summonerInfo_loses 승률
            .summonerInfo_con_left 
                .summonerInfo_inner
                    .summonerInfo_inner_left
                        .summonerInfo_inner_img
                            img(src='/images/ranked-emblems/'+ summoner.data[1].tier +'.png')
                    .summonerInfo_inner_right
                        .summonerInfo_box.col-12
                            .summoner_basic_queType #{summoner.data[1].queueType}
                            .summonerInfo_tier #{summoner.data[1].tier} #{summoner.data[1].rank}
                            .summonerInfo_leaguePoint 리그 포인트 : #{summoner.data[1].leaguePoints}LP
                            .summonerInfo_wins #{summoner.data[1].wins}승 #{summoner.data[1].losses}패
                            .summonerInfo_loses 승률

    include matchInfo