champMastery
    .champMastery_wrap.col-12.col-center.mw-1200
        .champMastery_con.col-12
            .champMastery_box0.col-3
                .champMastery_inner_img
                    img(src=champ_mastery[0].championImg)
                .champMastery_inner_name
                    div #{champ_mastery[0].championName}
                .champMastery_inner_level
                    div #{champ_mastery[0].championLevel}
                .champMastery_inner_point
                    div #{champ_mastery[0].championPoints}
            .champMastery_box1.col-3
                .champMastery_inner_img
                    img(src=champ_mastery[1].championImg)
                .champMastery_inner_name
                    div #{champ_mastery[1].championName}
                .champMastery_inner_level
                    div #{champ_mastery[1].championLevel}
                .champMastery_inner_point
                    div #{champ_mastery[1].championPoints}
            .champMastery_box2.col-3
                .champMastery_inner_img
                    img(src=champ_mastery[2].championImg)
                .champMastery_inner_name
                    div #{champ_mastery[2].championName}
                .champMastery_inner_level
                    div #{champ_mastery[2].championLevel}
                .champMastery_inner_point
                    div #{champ_mastery[2].championPoints}
            .champMastery_box3.col-3
                .champMastery_inner_img
                    img(src=champ_mastery[3].championImg)
                .champMastery_inner_name
                    div #{champ_mastery[3].championName}
                .champMastery_inner_level
                    div #{champ_mastery[3].championLevel}
                .champMastery_inner_point
                    div #{champ_mastery[3].championPoints}
             
                    
    

        