matchInfo
    input(class="summoner_query" type="hidden" value=summoner_query)
    .content_wrap.col-12.col-center
        -var game_times = 3;
        -for(i=0;i<game_times;i++)
            input(class="game_times" type="hidden" value=game_times)
            .gameRecord_box.col-12
                .gameRecord_wrap.col-12
                    .gameRecord_con.col-12
                        .gameRecord_inner.col-12
                            .gameRecord_info
                                .gameRecord_info_gameTime(tooltip="" + result[i+game_times].game_date_tool flow="up") #{result[i+game_times].game_date[i]}
                                .gameRecord_info_win_fail_check #{result[i+game_times].gameWinFail_kor}
                                script.
                                    var win_fail_number = #{i};
                                    $(`.gameRecord_info_win_fail_check`).attr("class","win_fail_check"+ #{i});
                                    $(`.gameRecord_con`).attr("class","gameRecord_con"+ #{i} + " col-12 ");
                                    $(`.gameRecord_wrap`).attr("class","gameRecord_wrap"+ #{i} +" col-12 " + "" + " col-center");
                                    $(`.gameRecord_box`).attr("class","gameRecord_box"+ #{i} +" col-12 " + "" + " col-center"+ " gameRecord_wrap_css");
                                .gameRecord_info_time(tooltip2="플레이 시간"  flow="up") #{result[i+game_times].gameTime}분
                            .gameRecord_champ
                                .gameRecord_champ_top
                                    .gameRecord_champ_img
                                        img(src=result[i+game_times].champ_img[i])
                                    .gameRecord_champ_name #{result[i+game_times].champ_name[i]}
                                .gameRecord_champ_bottom
                                    .gameRecord_spells
                                        .gameRecord_spell01(tooltip="" + result[i+game_times].spell_list1.name+"\n\n"+ result[i+game_times].spell_list1.description flow="up")
                                            img(src=result[i+game_times].spell1)
                                        .gameRecord_spell02(tooltip="" + result[i+game_times].spell_list2.name+"\n\n"+ result[i+game_times].spell_list2.description flow="up")
                                            img(src=result[i+game_times].spell2)
                                    .gameRecord_perks
                                        .gameRecord_perks_1
                                            img(src=result[i+game_times].perk0)
                                        .gameRecord_perks_2
                                            img(src=result[i+game_times].perkSubStyle)
                            .gameRecord_KDA
                                .gameRecord_kda(tooltip2="킬/ 데스/ 어시" flow="up") #{result[i+game_times].kills}/ #{result[i+game_times].deaths}/ #{result[i+game_times].assists}
                                .gameRecord_average(tooltip2="(킬+어시) ÷ 어시" flow="up") #{result[i+game_times].kda}:1 평점
                                .gameRecord_totalDamageDealtToChampions(tooltip="게임 중 적 챔피언에게 가한 물리, 마법을 합친 데미지" flow="up")
                                    .gameRecord_totalDamage_top 챔피언에게 가한 데미지 
                                    .gameRecord_totalDamage_bottom #{result[i+game_times].totalDamageDealtToChampions}
                            .gameRecord_levelCS
                                .gameRecord_level(tooltip2="챔피언 레벨" flow="up") 레벨 #{result[i+game_times].level}
                                .gameRecord_CS(tooltip2="총 미니언 수" flow="up") #{result[i+game_times].total_cs} CS
                                .gameRecord_goldEarned
                                    .gameRecord_goldEarned_top(tooltip2="게임 중 총 획득한 골드" flow="up") 획득 골드 
                                    .gameRecord_goldEarned_under #{result[i+game_times].goldEarned} gold
                            .gameRecord_items 
                                .gameRecord_items_top
                                    div.item0(tooltip="" + result[i+game_times].item_list[i][0].name + "\n\n" + result[i+game_times].item_list[i][0].description + "" + result[i+game_times].item_list[i][0].gold flow="up")
                                        img(src=result[i+game_times].item[0])
                                    div.item1(tooltip="" + result[i+game_times].item_list[i][1].name + "\n\n" + result[i+game_times].item_list[i][1].description + "" + result[i+game_times].item_list[i][1].gold flow="up") 
                                        img(src=result[i+game_times].item[1])
                                    div.item2(tooltip="" + result[i+game_times].item_list[i][2].name + "\n\n" + result[i+game_times].item_list[i][2].description + "" + result[i+game_times].item_list[i][2].gold flow="up") 
                                        img(src=result[i+game_times].item[2])
                                    div.item3(tooltip="" + result[i+game_times].item_list[i][3].name + "\n\n" + result[i+game_times].item_list[i][3].description + "" + result[i+game_times].item_list[i][3].gold flow="up") 
                                        img(src=result[i+game_times].item[3])
                                .gameRecord_items_bottom
                                    div.item4(tooltip="" + result[i+game_times].item_list[i][4].name + "\n\n" + result[i+game_times].item_list[i][4].description + "" + result[i+game_times].item_list[i][4].gold flow="up") 
                                        img(src=result[i+game_times].item[4])
                                    div.item5(tooltip="" + result[i+game_times].item_list[i][5].name + "\n\n" + result[i+game_times].item_list[i][5].description + "" + result[i+game_times].item_list[i][5].gold flow="up")
                                        img(src=result[i+game_times].item[5])
                                    div.item6(tooltip="" + result[i+game_times].item_list[i][6].name + "\n\n" + result[i+game_times].item_list[i][6].description + "" + result[i+game_times].item_list[i][6].gold flow="up")
                                        img(src=result[i+game_times].item[6])
                            .gameRecord_summoner_names            
                                .gameRecord_team01 
                                    .gameRecord_row
                                        .other_champion_img0(tooltip2="" + result[i+game_times].otherChampName[0] flow="up")
                                            img( src=result[i+game_times].otherChamps[0])
                                        .gameRecord_row_name0 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][0]) #{result[i][0]}
                                    .gameRecord_row 
                                        .other_champion_img1(tooltip2="" + result[i+game_times].otherChampName[1] flow="up")
                                            img( src=result[i+game_times].otherChamps[1])
                                        .gameRecord_row_name1
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][1]) #{result[i][1]}
                                    .gameRecord_row 
                                        .other_champion_img2(tooltip2="" + result[i+game_times].otherChampName[2] flow="up")
                                            img( src=result[i+game_times].otherChamps[2])
                                        .gameRecord_row_name2 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][2]) #{result[i][2]}
                                    .gameRecord_row 
                                        .other_champion_img3(tooltip2="" + result[i+game_times].otherChampName[3] flow="up")
                                            img( src=result[i+game_times].otherChamps[3])
                                        .gameRecord_row_name3
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][3]) #{result[i][3]}
                                    .gameRecord_row 
                                        .other_champion_img4(tooltip2="" + result[i+game_times].otherChampName[4] flow="up")
                                            img( src=result[i+game_times].otherChamps[4])
                                        .gameRecord_row_name4 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][4]) #{result[i][4]}
                                .gameRecord_team02
                                    .gameRecord_row 
                                        .other_champion_img5(tooltip2="" + result[i+game_times].otherChampName[5] flow="up")
                                            img( src=result[i+game_times].otherChamps[5])
                                        .gameRecord_row_name5 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][5]) #{result[i][5]}
                                    .gameRecord_row 
                                        .other_champion_img6(tooltip2="" + result[i+game_times].otherChampName[6] flow="up")
                                            img( src=result[i+game_times].otherChamps[6])
                                        .gameRecord_row_name6 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][6]) #{result[i][6]}
                                    .gameRecord_row 
                                        .other_champion_img7(tooltip2="" + result[i+game_times].otherChampName[7] flow="up")
                                            img( src=result[i+game_times].otherChamps[7])
                                        .gameRecord_row_name7 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][7]) #{result[i][7]}
                                    .gameRecord_row 
                                        .other_champion_img8(tooltip2="" + result[i+game_times].otherChampName[8] flow="up")
                                            img( src=result[i+game_times].otherChamps[8])
                                        .gameRecord_row_name8 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][8]) #{result[i][8]}
                                    .gameRecord_row 
                                        .other_champion_img9(tooltip2="" + result[i+game_times].otherChampName[9] flow="up")
                                            img( src=result[i+game_times].otherChamps[9])
                                        .gameRecord_row_name9 
                                            div 
                                                a(href="/summonerInfo?summonerName="+ result[i][9]) #{result[i][9]}
    .content_wrap.col-12.col-center
        -for(i=0;i<game_times;i++)
            .gameRecord_add_con.col-12.col-center
                script.
                    $('.gameRecord_add_con').attr("class","gameRecord_add_con" + #{i} + " col-12" + " col-center");
                    